.home-background {
    height: calc(100vh - 75.63px);
    background-color: #fafafa;
    position: sticky;
    width: 100%
}

.home-wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 7px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    top: 43%;
    z-index: -1000
}

.home-wrapper .duck {
    background-image: url(/files/img/logo.png);
    background-size: 270px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    width: 250px;
    max-width: 300px;
    height: 200px;
    display: block;
    position: relative;
    font-size: 0;
    margin: auto;
    margin-bottom: .8em;
    margin-top: -1.25em;
    text-indent: -9999px
}

.home-wrapper .search {
    box-sizing: border-box;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 590px;
    padding: 1.9em .8em 0;
    margin-top: 1.8em
}

.home-wrapper .search form {
    background-color: #fff;
    font-size: 1.14em;
    padding-left: .75em;
    padding-right: 3.5em;
    border-radius: 3px;
    display: block;
    position: relative;
    height: 2.98em;
    margin-top: -1.4em;
    border: .5px solid #d9d9d9;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .06)
}

.home-wrapper .search form input {
    font-size: 1.2em;
    font-weight: 300;
    color: #494949;
    display: block;
    width: 100%;
    background: 0 0;
    position: relative;
    border: 0;
    padding: 0;
    height: 2.55em;
    z-index: 1;
    top: -1px;
    outline: 0
}

.home-wrapper .search form .btn {
    box-sizing: content-box;
    color: #d9d9d9;
    border: none;
    border-radius: 0 3px 3px 0;
    min-width: 26px;
    cursor: pointer;
    font-size: 1.25em;
    line-height: 1.5;
    background-image: url(img/search-btn.svg);
    background-size: 28px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 0 .64em;
    height: 44px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    outline: 0
}

.home-wrapper .message {
    position: relative;
    padding-top: 1.25em;
    margin: 0 auto;
    text-align: center;
    line-height: 1.4;
    font-size: 1.4em
}

.home-wrapper .message span {
    color: #494949
}

body,
html {
    height: 100%;
    min-height: 100%;
    padding: 0;
    font-size: 90%;
    overflow-x: hidden
}

body {
    font-family: arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    position: relative;
    height: auto;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    min-height: 100%;
    display: none;
    overflow: hidden
}

#menu a {
    text-decoration: none;
    color: #232323
}

#menu a:hover {
    color: #000
}

#menuToggle {
    display: block;
    position: relative;
    top: 35px;
    float: right;
    right: 15px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #494949;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 8px -4px;
    transition: transform .5s cubic-bezier(.77, .2, .05, 1), background .5s cubic-bezier(.77, .2, .05, 1), opacity .55s ease
}

#menuToggle span:first-child {
    transform-origin: 0 0
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0 100%
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #494949
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0) scale(.2, .2)
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px)
}

#menu {
    position: absolute;
    margin: -100px 0 0 -200px;
    padding: 50px;
    padding-top: 125px;
    background: #fff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transform: translate(100%, 0);
    transition: transform .5s cubic-bezier(.77, .2, .05, 1);
    height: 100vh;
    width: 200px;
    border-left: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    z-index: -1000
}

#menu li {
    padding: 5px 0;
    font-size: 18px
}

#menuToggle input:checked~ul {
    transform: none
}

#menu .header {
    color: #a6a6a6;
    cursor: default
}

h3 {
    margin-bottom: 5px;
    font-family: arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px
}

h2 {
    margin-bottom: 5px;
    font-family: arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2em
}

.search-bar {
    position: relative
}

.srch-suggest {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .06);
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-right: .5px solid #d9d9d9;
    border-left: .5px solid #d9d9d9;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 999999
}

.srch-suggest_title {
    padding: 5px;
    padding-left: 10px
}

.srch-suggest_title:hover {
    cursor: pointer
}

.learn-more {
    color: #4495d4
}

@media only screen and (max-width:600px) {
    .learn-more {
        display: none
    }
}

a {
    text-decoration: none
}

.footer-links2 {
    background-color: #fff;
    height: 50px;
    border-top: .5px solid #d9d9d9;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
    padding-top: 25px;
    overflow-x: scroll
}

.footer-links2 a {
    color: #494949;
    padding: 10px
}

.footer-links2 a:hover {
    text-decoration: underline
}

.footer-links2 {
    background-color: #fff;
    height: 50px;
    border-top: .5px solid #d9d9d9;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
    padding-top: 25px;
    overflow-x: scroll
}

.footer-links2 a {
    color: #494949;
    padding: 10px
}

.footer-links2 a:hover {
    text-decoration: underline
}